

.small {
    height: 30vh;
}

.text-recovery {
    color: var(--text-icons-color);
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    text-align: center;
}

.input-email {
    width: 100%; /* Ancho del input al 100% del contenedor */
    max-width: 1200px; 
    box-sizing: border-box;/* Ancho máximo del input para evitar que se vuelva demasiado ancho en pantallas grandes */
} 