@import url('./styles/variables.css');

:root {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, var(--primary-color), #4dbff8, var(--primary-color));
}